html{
  scroll-behavior: smooth;
}

/* Fading animations */ 
.demo-video-container {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 1;
  transform: scale(1);
}
.demo-video-container.hide {
  opacity: 0;
  transform: scale(0.94);
}
.demo-video-container.show {
  opacity: 1;
  transform: scale(1);

}

.testimonials-section{
  position: relative;
}
.testimonials-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -50%;
  right: -50%;
  top: 0;
  transform: rotate(8deg)skew(8deg);
  background: hsl(var(--primary));
  z-index: -1;
}

.cta-button{
  background-color: hsl(var(--secondary));
}
.cta-button:hover {
  /* background-color: hsla(109 33% 6% / 0.80); */
  background-color: hsla(var(--secondary-transparent));
}

.hero-section{
  position: relative;
  overflow-x: clip;
}
.hero-section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -50%;
  right: -50%;
  top: -50%;
  transform: rotate(-8deg)skew(-8deg);
  background: hsl(var(--primary));
  z-index: -1;
}

.internal-link {
  background-color: transparent;
  border-bottom: 2px solid hsl(var(--primary));
  cursor: pointer;
  overflow: hidden; /* Ensures the pseudo-element stays inside the button */
  transition: color 0.3s ease; /* Smooth color transition */
  text-wrap: nowrap;
}
.internal-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: hsl(var(--primary-transparent));
  z-index: 0;
  transition: width 0.4s ease;
}
.internal-link:hover::before {
  width: 100%;
}
.internal-link {
  position: relative;
  z-index: 1;
}

/* 
*{
  border: solid 1px red;
} */